$tablet-screen: 650px;
$desktop-screen: 768px;
$big-desktop-screen: 1100px;

.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0,0,0,0.4);
}

.modal-content {
  width: 90%;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  background: #fefefe;

  @media (min-width: $tablet-screen) {
    width: 50%;
  }
}

.modal-control {
  width: 100%;
  margin-bottom: 15px;
}

.modal-description {
  margin: 15px 0; 
}

.closeBtn {
  color: #aaa;
  float: right;
  font-size: 28px;
  line-height: 0.5;
  font-weight: bold;

  &:hover,
  &:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
}
