$color-green: #56ca9b;
$color-white: #fff;

$tablet-screen: 650px;
$desktop-screen: 768px;
$big-desktop-screen: 1100px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    color: #000;
    font-family: Quicksand, sans-serif;

    @media (min-width: $tablet-screen) {
        font-size: 16px;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button, input, a, textarea, div {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    border: 0;
    resize: none;
    outline: none;
    font-size: inherit;
}

.control {
    padding: 4px;
    background: $color-white;
    border-radius: 4px;
    box-shadow: 1px 1px 10px 0px #bdb3bd;
    color: #878787;
    outline-width: 0;

    &-number {
        width: 100px;
    }
}

.content {
    background: linear-gradient(to right,#f7f9fb,#f3f4f5);
}

.main-header {
    display: flex;
    align-items: center;
    height: 70px;
}

.logo {
    margin: 0 auto 0 15px;
}

.main-navigation {
    display: flex;
}

.configurationBtn {
    background: 0;

    &:hover {
        color: #6d6464;
    }
}

.config-bar {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;

    @media(min-width: $tablet-screen){
        flex-direction: row;
    }
}

.config-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.config-option {
    display: inline-block;
    width: 100px;
    margin-right: 8px;
}

.navigation-item {
    margin: 0 15px;
}

.text-wrapper {
    display: flex;
    justify-content: center;
}

.textBox {
    display: block;
    min-height: 300px;
    width: 90%;
    padding: 35px 35px 40px;
    margin-bottom: 30px;
    border-radius: 12px;

    &--result {
        height: initial;
        white-space: pre-line;
    }

    @media(min-width: $tablet-screen) {
        min-height: 400px;
    }

    @media(min-width: $desktop-screen) {
        width: 80%;
    }

    @media(min-width: $big-desktop-screen) {
        width: 70%;
    }
}

.textBox::placeholder {
    text-align: center;
    line-height: 100px;
    font-size: 22px;
    color: pink;

    @media(min-width: $tablet-screen) {
        line-height: 330px;
        font-size: 30px;
    }
}

.highlight {
    background: pink;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
}

.plagBtn {
    display: inline-block;
    padding: 8px 25px;
    border-radius: 4px;
    font-size: 1.125rem;
    color: $color-white;

    &--check {
        margin-right: 10px;
        background: #4490c7;
        &:hover {
            background: #273dad;
        }
    }

    &--newSearch {
        background: $color-green;

        &:hover {
            background: #90cc90;
        }
    }

    &--fixed {
        padding: 10px;
        border-radius: 50%;
    }

    &:active {
        box-shadow: 0 2px #660;
        transform: translateY(1px);
    }   
}

.fixedPanel {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.fixedHelp {
    margin-bottom: 10px;
}

.showBtn {
    height: 22px;
    padding: 1px 3px;
    background: $color-green;
    border-radius: 4px;
    color: $color-white;

    &:active {
        box-shadow: 0 1px #660;
        transform: translateY(1px);
    }   
}

.loadContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadStatus {
    margin-left: 10px;
}

.result-wrapper {
    margin: 0 auto 50px;
    width: 70%;
}

.result-title {
    margin: 10px auto;
    padding: 15px;
    border-radius: 8px;
    background: #e8e9ec;
}

.result-value {
    margin-bottom: 15px;
}

.result-item {
    display: flex;
    padding: 10px 0;
}

.item-ref {
    width: 70%;
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-percent {
    margin: 0 10px;
}