﻿@model PlagiatChecker.Models.Test

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <title>Plagchecker</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="~/dist/Styles.css" rel="stylesheet" />
</head>
<body class="content">
    
    <div id="container"></div>

    <script type="text/javascript">
        window.configuration = {};
        window.configuration.basePath = '@($"{Context.Request.Scheme}://{Context.Request.Host}")';
    </script>
    <script src="~/dist/bundle.js"></script>
</body>
</html>
